<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Meu Formulário</title>
</head>
<body>
    <h1>Meu Formulário</h1>
    {% for menssagem in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show", role="alert" > 
        {{ menssagem }}
        <button type="button" class='btn-close' data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}   

    <form method="POST" action="/">
        {{ formulario.hidden_tag() }}
        {{ formulario.nome.label }} {{ formulario.nome() }}
        {{ formulario.enviar() }}
    </form>
</body>
</html>
